
.one {
  background: url("img/my-photo.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
  width: 50%;
  height: 100vh;
  float: left;
  color: white;
  overflow: hidden;
  border: 1.2em solid white;
  border-right: none;
}
.name {
  font-size: 4em;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .45em;
}
.two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  float: left;
  background-color: ghostwhite;
  width: 50%;
  height: 100vh;
  border: 1.2em solid white;
  border-left: none;
  padding: 30px 50px;
  padding-right: 0;
}
.list-standard li {
  list-style: none;
  padding-bottom: 10px;
}
.list-standard li:nth-child(2n){
  padding-bottom: 30px;
}
.list-standard a {
  font-size: 1.5em;
  text-decoration: none;
  color: steelblue;
}
.list-standard a:visited{
  color: steelblue;
}
.list-standard a:hover {
  border-bottom: 3px solid steelblue;
}
.list-standard {
  padding-left: 20px;
  float: left;
}
.subtitle {
  font-size: 1.55em;
  margin-top: 0px;
  font-weight: 400;
  letter-spacing: .08em;
  margin-left: -30px;
  text-align: center;
}
.border-box {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.headline {
  color: #444;
  font-size: 2.2em;
  padding-top: 35px;
  padding-bottom: 5px;
}

.wrapper {
  margin: 0 auto;
  max-width: 650px;
}

.button {
  background-color: steelblue;
  padding: 20px 0px;
  text-align: center;
  width: 50%;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  display: block;
  margin: 0 auto;
}
.clear {clear: both;}

/* -------- ICON FONT STYLE --------- */

.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-list i {
  font-size: 3.5em;
  color: lightgray;
  text-align: center;
  display: inline-block;
  width: 100%;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
  transition: all .75s ease;
}

.icon-list li {
  display: inline-block; 
  width: 120px;
}

.icon-list p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 0; }

i:hover {
  color: #333;
  cursor: default;
  text-shadow: 0px 3px 0px lightgray;
}

/* -------- MEDIA QUERIES --------- */

@media screen and (max-width: 850px) {
  .one {width: 100%; border: none; display: block; background-size: auto; height: 400px;}
  .two {clear: left; width: 100%; border: none; padding: 0; padding-left: 30px; height: 1300px;}
  .pad-right{margin-bottom: 0; padding-bottom: 0;}
  .list-standard{margin-top: 0; padding-bottom: 10px;}
  .button { width: 85%; margin-left: 10px; margin-bottom: 20px;}
  .name {letter-spacing: 1px; text-align: center; margin-top: 150px;}
}

@media screen and (max-height: 750px) {
  .skills {display: none;}
  .icon-list {display: none;}

}




