doctype html
html(lang="en")
	head
		meta(name="robots", content="noindex")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Hadley Lambeth Front End Developer
		link(type='text/css', rel='stylesheet', href='css/normalize.css')
		link(type='text/css', rel='stylesheet', href='css/main.css')
		link(rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800', rel='stylesheet', type='text/css')

	body
		.left-container.border-box
			h2.name HADLEY
			p.subtitle Web Developer
			ul.social-links
				li
					a(href='https://github.com/hlambeth' target='_blank' rel='noopener')
						i.devicon-github-plain
				li
					a(href='http://codepen.io/hlambeth/' target='_blank' rel='noopener')
						i.fa.fa-codepen
				li
					a(href='https://docs.google.com/document/d/1hOJ9dnjH7yXw3MH205FVZA_dWo-e7EETxf8Vd5MpVw0/edit?usp=sharing' target='_blank' rel='noopener')
						i.fa.fa-file-text-o
				li
					a(href='https://www.linkedin.com/in/hadleylambeth' target='_blank' rel='noopener')
						i.fa.fa-linkedin-square
			a.button.clear(href="mailto:hadleylambeth@gmail.com") Contact Me
		.right-container.border-box
			.wrapper
				h2.headline.skills Skills
				ul.icon-list
					li
						i.devicon-javascript-plain
							p JavaScript
					li
						i.devicon-react-original
							p React
					li
						i.devicon-jquery-plain
							p Jquery
					li
						i.devicon-sass-original
							p Sass
					li
						i.devicon-foundation-plain
							p Foundation
					li
						i.devicon-rails-plain
							p Rails
					li
						i.devicon-ruby-plain
							p Ruby
					li
						i.devicon-postgresql-plain
							p Postgres
					li
						i.devicon-git-plain
							p Git
					li
						i.devicon-nodejs-plain
							p Node
			.wrapper
				h2.headline Work
				ul.list-standard.pad-right
					li
						a(href='https://www.everfest.com' target="_blank" rel="noopener") Everfest
							span.site-desc - Founding Team Developer (Ruby/React)
					li
						a(href="http://leasestation.com/" target="_blank" rel="nofollow") LeaseStation
							span.site-desc - UI/UX Developer
			.wrapper
				h2.headline Recent Projects
				ul.list-standard.pad-right
					li
						a(href='https://setlist.live') SetList
							span.site-desc - Create Spotify Playlist From Top Tracks
					li
						a(href='http://shareaustin.herokuapp.com/#/') ShareAustin
							span.site-desc - Sharing Economy App For Outdoors Enthusiast
					li
						a(href='https://github.com/roomeasy/roomease') RoomEase
							span.site-desc - App to Make Living With Roomates Fair and Easy
	script(src="https://use.fontawesome.com/3357b36c48.js")
							
						
